<%- include('header.ejs') %>

<div class="container">
    <div class="container pt-5">
        <div class="row">
          <div class="col-md-8 order-md-2 col-lg-9">
            <div class="container-fluid">
              <div class="row mb-5">
                <div class="col-12">
                  <div class="dropdown text-md-left float-md-left mb-3 mt-3 mt-md-0 mb-md-0">
                    <label class="mr-2">Sort by:</label>
                    <a class="btn btn-lg btn-light dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relevance <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" x-placement="bottom-start" style="position: absolute; transform: translate3d(71px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
                      <a class="dropdown-item" href="#">Relevance</a>
                      <a class="dropdown-item" href="#">Price Descending</a>
                      <a class="dropdown-item" href="#">Price Ascending</a>
                      <a class="dropdown-item" href="#">Best Selling</a>
                    </div>
                  </div>
                </div>
              </div>
              

              <section>
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 col-xl-12">
                      <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                              <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                <img src="https://via.placeholder.com/240x240/5fa9f8/efefef" class="img-fluid mx-auto d-block" alt="Card image cap">
                                <a href="#!">
                                  <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                  </div>
                                </a>
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                              <h5>Camisa</h5>
                              <p class="text-truncate mb-4 mb-md-0">
                                Excelente producto.
                               </p>
                              <div class="mt-1 mb-0 text-muted small">
                                <input class="btn btn-primary btn-sm" type="button" value="Input">
                                <input class="btn btn-primary btn-sm" type="button" value="Input">
                                <input class="btn btn-primary btn-sm" type="button" value="Input">
                                <input class="btn btn-primary btn-sm" type="button" value="Input">
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                              <div class="d-flex flex-row align-items-center mb-1">
                                <h4 class="mb-1 me-1">$13.99</h4>
                              </div>
                              <h6 class="text-success">Oferta Especial</h6>
                              <div class="d-flex flex-column mt-5">
                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" type="button">Borrar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section>
                <h3>Agregar producto:</h3>
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Agregar un producto nuevo</h5>
                      <p class="card-text">Ingresa los siguientes datos del producto que deseas agregar:</p>
                      <div>
                        <p><b>Nombre del producto</b></p>
                      <div class="input-group input-group-ml mb-3">
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                      </div>
                    </div>
                      <div class="mt-3">
                        <p><b>Precio</b></p>
                      <div class="input-group">
                        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                        <span class="input-group-text">$</span>
                        <span class="input-group-text">0.00</span>
                      </div>
                    </div>
                      <div class="mt-3">
                        <p><b>Carga una imagen</b></p>
                        <div class="input-group mb-3 mt-3">
                            <input type="file" class="form-control" id="inputGroupFile02">
                            <label class="input-group-text" for="inputGroupFile02">Upload</label>
                        </div>
                      </div>

                      <div>
                        <p><b>Elige tag(s)</b></p>
                        <button type="button" class="btn btn-outline-primary btn-sm">Work</button>
                        <button type="button" class="btn btn-outline-primary btn-sm">Lifestyle</button>
                        <button type="button" class="btn btn-outline-primary btn-sm">Motor</button>
                        <button type="button" class="btn btn-outline-primary btn-sm">Mobile</button>
                      </div>
                      <div class="mt-5 mb-3">
                      <a href="#" class="btn btn-primary">Agregar</a>
                    </div>
                    </div>
                  </div>
              </section>

              <div class="row sorting mb-5 mt-5">
              </div>
            </div>
          </div>
          <div class="col-md-4 order-md-1 col-lg-3 sidebar-filter">
            <h4>FILTRAR POR:</h4>
            <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Nombre del producto</h6>
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
            <h6 class="text-uppercase font-weight-bold mb-3">TAG</h6>
            <div class="mt-2 mb-2 pl-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="category-1">
                <label class="custom-control-label" for="category-1">Work</label>
              </div>
            </div>
            <div class="mt-2 mb-2 pl-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="category-2">
                <label class="custom-control-label" for="category-2">Lifestyle</label>
              </div>
            </div>
            <div class="mt-2 mb-2 pl-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="category-3">
                <label class="custom-control-label" for="category-3">Motor</label>
              </div>
            </div>
            <div class="mt-2 mb-2 pl-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="category-4">
                <label class="custom-control-label" for="category-4">Mobile</label>
              </div>
            </div>
            <h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Precio</h6>
            <div class="price-filter-control">
              <input type="number" class="form-control w-50 pull-left mb-2" value="50" id="price-min-control">
              <input type="number" class="form-control w-50 pull-right" value="150" id="price-max-control">
            </div>
            <input id="ex2" type="text" class="slider " value="50,150" data-slider-min="10" data-slider-max="200" data-slider-step="5" data-slider-value="[50,150]" data-value="50,150" style="display: none;">
            <div class="mt-4 mb-5"></div>
            <a href="#" class="btn btn-lg btn-block btn-primary mb-5">Update Results</a>
          </div>
        </div>
      </div>
</div>
<%- include('footer.ejs') %>